[Desktop Entry] (TEMP FILE - WILL NOT BE USED)
Name=Floppy Warriors
Comment=A janky ragdoll archery battle game
Exec=floppy-warriors %F
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Game;ActionGame;ArcadeGame;
