[Desktop Entry]
Name=Floppy Warriors
Comment=<PlaceholderShortDesc>
Exec=floppy-warriors %F
Icon=io.github.mlm_games.floppy-warriors
Terminal=false
Type=Application
Categories=<PlaceholderCategories>
